<.flash_group flash={@flash} />
<div class="m-10">
  <a href="http://localhost:8080/api/feed/translate?url=https://yoric.github.io/index.xml&source_lang=en&target_lang=zh">
    http://localhost:8080/api/feed/translate?url=https://yoric.github.io/index.xml&source_lang=en&target_lang=zh
  </a>

  <br>

  <a href="http://localhost:8080/api/feed/translate?url=https://world.hey.com/dhh/feed.atom&source_lang=en&target_lang=zh">
    http://localhost:8080/api/feed/translate?url=https://world.hey.com/dhh/feed.atom&source_lang=en&target_lang=zh
  </a>
</div>